@tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 222.2 47.4% 11.2%; /* Dark Gray */

    --muted: 210 40% 96.1%; /* Light Gray */
    --muted-foreground: 215.4 16.3% 46.9%; /* Medium Gray */

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 142.1 76.2% 36.3%; /* Green */
    --primary-foreground: 355.7 100% 97.3%; /* Off-white for contrast */

    --secondary: 142.1 76.2% 46.3%; /* Slightly darker green */
    --secondary-foreground: 355.7 100% 97.3%;

    --accent: 142.1 76.2% 56.3%; /* Lighter green */
    --accent-foreground: 222.2 47.4% 11.2%; /* Dark Gray */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 142.1 76.2% 36.3%; /* Same as primary */

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 47.4% 11.2%; /* Dark Gray */
    --foreground: 210 40% 98%; /* Off-white */

    --muted: 217.2 32.6% 17.5%; /* Darker Gray */
    --muted-foreground: 215 20.2% 65.1%; /* Lighter Gray */

    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;

    --primary: 142.1 76.2% 36.3%; /* Green */
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 142.1 76.2% 46.3%; /* Slightly darker green */
    --secondary-foreground: 355.7 100% 97.3%;

    --accent: 142.1 76.2% 56.3%; /* Lighter green */
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 142.1 76.2% 36.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
